
{
  "presets": [
    [ "es2015", { "loose": true, "modules": false } ],
    "react"
  ],
  "env": {
      "test": {
        "presets": ["es2015","react"],      
        "plugins": [
          [
            "module-resolver",
            {
              "alias": {
                "redux-auto":"./../index.js"
              }
            }
          ]
        ]
      }
  }
}
