# Logs
logs
*.log

# System Files
.DS_Store
._.DS_Store
Thumbs.db

# Dependency directory
node_modules
example/node_modules
example/dist

# Linter
linters/

# testing
/coverage

# compiled output
/build
/Release
/dist
/dll
.tmp
documentation/*.html

# misc
.env
